extends layout

block content
  .container
    .row.row-offcanvas
      .col-xs-12
        #myGoogleDrive
          #files
          form(method='post', enctype='multipart/form-data')
            #drop
              input#uplFile(type='file', name='upl')
          .btn-group#driveButtons(role='group')
            .btn-group
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                span.glyphicon.glyphicon-cloud
                |  Show
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a#showMyFiles(href='#') My files
                li
                  a#showSharedWithMe(href='#') Shared with me
            a#uploadFile.btn.btn-md.btn-default(role='button')
              span.glyphicon.glyphicon-cloud-upload
              |  Upload
            a#downloadFile.btn.btn-md.btn-default(role='button')
              span.glyphicon.glyphicon-cloud-download
              |  Download
            .input-group
              input#shareWithEmail.form-control(type='text', placeholder="Share with", aria-describedby='basic-addon2')
              span.input-group-addon @gmail.com
              span.input-group-addon.a#shareFile.btn.btn-md.btn-default(role='button')
                span.glyphicon.glyphicon-share-alt
                |  Share with friend
              span.input-group-addon.a#stopShareFile.btn.btn-md.btn-default(role='button')
                span.glyphicon.glyphicon-lock
                |  Stop sharing
    script(type='text/javascript').
      var file;
      $('#downloadFile').attr('disabled', true);
      $('#showMyFiles').click(function() {
        showMyFiles('files', 'root');
      });
      $('#showSharedWithMe').click(function() {
        showSharedWithMe('files');
      });
      $('#downloadFile').click(function() {
        downloadFile();
      });
      $('#uploadFile').click(function() {
        uploadFile();
      });
      $('#shareFile').click(function() {
        shareFile();
      });
      $('#stopShareFile').click(function() {
        stopShareFile();
      });
       // TODO: upload file disabled until form filled
      $.get('isRegistered', function(res) {
        console.log('checking if registerd');
        console.log(res);
        if (res == 'false') {
          generateKeyPair(function () {});
        }
      });
